appleProducts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="appleProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="device" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="size"/>
                    <xs:element type="xs:string" name="storage" minOccurs="0"/>
                    <xs:element type="xs:string" name="colour"/>
                    <xs:element type="xs:float" name="price"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Insurance" use="optional"/>
                  <xs:attribute type="xs:string" name="Unlocked" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>